@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer components {
  .card {
    background-color: theme('colors.white');
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.6');
    box-shadow: theme('boxShadow.xl');
  }
  /* ... */
  .bg-dark-100 {
    @apply bg-[#000000];
  }
  .bg-dark-200 {
    @apply bg-[#0F1117];
  }
  .bg-dark-300 {
    @apply bg-[#151821];
  }
  .bg-dark-400 {
    @apply bg-[#212734];
  }
  .btn{
    @apply bg-purple-600
  }

}


.no-scrollbar::-webkit-scrollbar{
  display: none;
}

.no-scrollbar{
  -ms-overflow-style: none;
  scrollbar-width: none;
}
